extends layout
block content
  h1= title
  form(id='HouseForm', action="/resource/houses", method="POST")
    div.form-group
      label.houseAttr(for='house_name') House name
      input#house_name(type='text', name='house_name' minlength="20", maxlength="50")
    div.form-group
      label.houseAttr(for='house_color') House color
      input#house_color(type='text', name='house_color')
    div.form-group
      label.houseAttr(for='house_cost') House cost
      input#house_cost(type='number', name='house_cost' min="1000" , max="2000")
    input(type="submit")
  script.
    document.forms['HouseForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });