extends layout

block content
  h1= title
  p This is Haritha Kumpati hosting Exprees.
  if (!user) 
      a(href="/login") Login 
      br 
      a(href="/register") Register 
      br
      a(href="/houses/update") Update 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/houses") Take me to houses 
    br 
    a(href="/logout") Logout 